@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h2 class="display-8">Minha Apresentação</h2>
    <h4>Teste de Conhecimentos ASP.NET Core</h4>
    <p>Criando e Consumindo API</p>

    <img src="img/download (1).png" href="https://www.citelsoftware.com.br/" />

    <p><a href="https://docs.microsoft.com/aspnet/core">https://www.citelsoftware.com.br/</a>.

</div>
